<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Sistema de Recomendação
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-searchbar animated placeholder="Digite as tags que deseja procurar..."
    [(ngModel)]="queryText"
    (ionInput)="filterTags($event)"
    >
    </ion-searchbar>
</ion-toolbar>

<!-- TAGS -->
<ion-content class="ion-padding">
    <!-- Cards -->
    <h1><b>Técnicas Recomendadas</b></h1>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card *ngFor="let item of recommendations" routerLink="/detalhes/{{item.itemid}}">
                    <ion-card-header>
                        <ion-item>
                            <ion-label>
                                <ion-card-title>
                                    <b>{{item.nome}}</b>
                                </ion-card-title>
                            </ion-label>
                        </ion-item>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="arrow-round-forward">
                        </ion-icon>
                        <ion-label>Técnica utilizada: {{item.tecnicas}}</ion-label>
                    </ion-card-content>

                    <ion-card-content>
                        <ion-card-subtitle>
                            <ion-icon name="pricetag"></ion-icon>
                            <ion-label>Tipo: {{item.tipo}}</ion-label>
                        </ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
